# Be sure to restart your server when you modify this file.

# Your secret key for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!
# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
Rails3::Application.config.secret_token = 'b89bd5863cc3d95d3956f58ccadf9ed4f164d44f38bfa520f591eeff5e1e357186319fd29695ebc9abd2019dd594d960bde7e31abfb4ee86a3ad60e59379ef02'
